
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */